.title {text-align: center;text-decoration: underline; color: green}
.footer {text-align: center;}
.words {color: orange}
.footer {color: purple; text-decoration: line-through;}
.center {text-align: center;}